# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WitcherCharacterCreator.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gorko\Documents\C#Projects\WitcherCharacterCreator\.idea\.idea.WitcherCharacterCreator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
